x12{background:#6db6da;}
x14{background:#91b6b6;}
x34{background:#585c5ffe;}
x5{background:#486dda;}
x38{background:#e2e8eb;}
x3{background:#4891b6;}
x31{background:#2724245c;}
x23{background:#ffffda;}
x30{background:#2621212f;}
x13{background:#b6b6da;}
x39{background:#678da2;}
x18{background:#b6b6b6;}
x24{background:#9191da;}
x15{background:#b6dada;}
x4{background:#4891da;}
x1{background:#246d91;}
x11{background:#91b6da;}
x8{background:#6d91b6;}
x16{background:#dadada;}
x35{background:#9aa1a5;}
x22{background:#daffff;}
x9{background:#6d91da;}
x32{background:#303439c6;}
x20{background:#daffda;}
x25{background:#dab6da;}
x26{background:#dadaff;}
x17{background:#9191b6;}
x33{background:#292628f6;}
x40{background:#91bdcd;}
x7{background:#486d91;}
x37{background:#dee7ec;}
x2{background:#486db6;}
x21{background:#ffffff;}
x6{background:#246dda;}
x36{background:#a8c7d3;}
x19{background:#b6dab6;}
x28{background:#dadab6;}
x10{background:#6db6b6;}
x27{background:#dab6b6;}
x29{background:#00000001;}
