.x12{background:#6db6da;}
.x14{background:#91b6b6;}
.x5{background:#486dda;}
.x3{background:#4891b6;}
.x23{background:#ffffda;}
.x13{background:#b6b6da;}
.x41{background:#e7edf1;}
.x18{background:#b6b6b6;}
.x24{background:#9191da;}
.x15{background:#b6dada;}
.x35{background:#595d61fc;}
.x34{background:#303032dc;}
.x4{background:#4891da;}
.x1{background:#246d91;}
.x37{background:#cbd4d9;}
.x32{background:#25202030;}
.x11{background:#91b6da;}
.x8{background:#6d91b6;}
.x16{background:#dadada;}
.x39{background:#6a899a;}
.x36{background:#9aa1a5;}
.x22{background:#daffff;}
.x9{background:#6d91da;}
.x40{background:#a6c5d0;}
.x20{background:#daffda;}
.x42{background:#92bdcc;}
.x33{background:#25202261;}
.x29{background:#ffdada;}
.x25{background:#dab6da;}
.x30{background:#ffdaff;}
.x26{background:#dadaff;}
.x17{background:#9191b6;}
.x7{background:#486d91;}
.x38{background:#dee7ec;}
.x2{background:#486db6;}
.x21{background:#ffffff;}
.x6{background:#246dda;}
.x19{background:#b6dab6;}
.x28{background:#dadab6;}
.x10{background:#6db6b6;}
.x27{background:#dab6b6;}
.x31{background:#00000001;}
