#pixel {
    /* uwu */
    display: block;
    float: left;
    width: 1em; /* configured via font-size in parent element*/
    height: 1em;
}
#newline{
    display: block;
    float: left;
    width: 100%;
    height: 0px;
    background: pink;
}

#background{
    top:0;
    left:0;
    position: absolute;
    z-index: 10;
    width:100vw;
    height:100vh;
    font-size:2vw;
    background:#449;
    filter: blur(1vw);
}
#plane{
    position: absolute;
    top: 20vh;
    width: 650px;
    z-index: 11;
    left:20vw;
    font-size:6px;
    filter: blur(4px);
}
