#background > *,
#plane > * {
    /* every pixel */
    display: block;
    float: left;
    width: 1em; /*default*/
    height: 1em; /* configured via font-size in parent element*/
}
#newline{
    display: block;
    float: left;
    width: 100%;
    height: 0px;
    background: pink;
}

#background{
    top:0;
    left:0;
    position: absolute;
    z-index: 10;
    width:100vw;
    height:100vh;
    font-size:1.25vw;
    background:#449;
    filter: blur(0.6vw);
}
#plane{
    position: absolute;
    top: 20vh;
    width: 1500px;
    z-index: 11;
    left:20vw;
    font-size:3px;
    filter: blur(1.5px);
}
